# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# -----------------------------------------
# ORDER SERVICE
# -----------------------------------------

# gRPC настройки
ORDER_INVENTORY_GRPC_ADDR=inventory:50051
ORDER_PAYMENT_GRPC_ADDR=payment:50052

# HTTP настройки
ORDER_HTTP_PORT=8080
ORDER_READ_HEADER_TIMEOUT=5
ORDER_SHUTDOWN_TIMEOUT=10

# PostgreSQL настройки
ORDER_POSTGRES_USER=admin
ORDER_POSTGRES_PASSWORD=admin
ORDER_POSTGRES_DB=orders
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=5432
ORDER_DATABASE_URL=postgres://admin:admin@localhost:5432/orders
ORDER_MIGRATIONS_PATH=migrations

# Логгер
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# Kafka настройки
ORDER_KAFKA_BROKERS=localhost:9092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ORDER_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=order-group-order-assembled

# -----------------------------------------
# INVENTORY SERVICE
# -----------------------------------------

# gRPC настройки
INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051

# MongoDB настройки
INVENTORY_MONGO_IMAGE_NAME=mongo:8.2.7
INVENTORY_MONGO_INITDB_ROOT_USERNAME=admin
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=admin
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_URI=mongodb://admin:admin@localhost:27017/inventory?authSource=admin

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# -----------------------------------------
# PAYMENT SERVICE
# -----------------------------------------

# gRPC настройки
PAYMENT_GRPC_HOST=0.0.0.0
PAYMENT_GRPC_PORT=50052

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true

# -----------------------------------------
# ASSEMBLY СЕРВИС
# -----------------------------------------

# Kafka настройки
ASSEMBLY_KAFKA_BROKERS=localhost:9092
ASSEMBLY_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID=assembly-group-order-paid
ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled

# Логгер
ASSEMBLY_LOGGER_LEVEL=info
ASSEMBLY_LOGGER_AS_JSON=true

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

# Kafka настройки
NOTIFICATION_KAFKA_BROKERS=localhost:9092
NOTIFICATION_ORDER_PAID_TOPIC_NAME=order.paid
NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=notification-group-order-paid
NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-group-order-assembled

# Telegram бот
NOTIFICATION_TELEGRAM_BOT_TOKEN=8042070256:AAGjl1qVfIZB3kZ-oNWeLXC3q_wABpy9Zb4

# Логгер
NOTIFICATION_LOGGER_LEVEL=info
NOTIFICATION_LOGGER_AS_JSON=true